name: CI

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - master
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true
jobs:

  build:
    name: Build
    runs-on: ubuntu-24.04
    steps:

      - name: Set up Go 1.24
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
        id: go

      - uses: actions/checkout@v4

      - name: Prepare Host
        run: |
          sudo apt-get -qq update || true
          sudo apt-get install -y bzr

      - name: Run checks
        run: |
          make ci
